langchain-core~=1.2.6
langchain-community~=0.4.1
langchain-text-splitters~=1.0.0
numpy~=2.2.6
scikit-learn~=1.8.0
langchain-openai~=1.1.0
langchain~=1.1.0
pillow~=11.3.0
python-dotenv~=1.2.1
langchain-chroma~=1.1.0
volcengine-python-sdk~=5.0.6